
{% extends "instagram1/layout.html" %}

{% block title %}
    Post Detail pk#{{ post.pk }}
{% endblock title %}

{% block content %}
    <h2>Author: {{ post.author }}</h2>

    {% if post.photo %}
        <div>
            <img src="{{ post.photo.url }}" />
        </div>
    {% endif %}

    {#  linebreaks : p tag로 씌운다.  #}
    {{ post.massage|linebreaks }}
    <hr/>
    <a href="{% url 'instagram1:post_list' %}" class="btn btn-primary">
        목록
    </a>

    <a href="{% url 'instagram1:post_edit' post.pk %}" class="btn btn-info">
        수정
    </a>

    <a href="{% url 'instagram1:post_delete' post.pk %}" class="btn btn-danger">
        삭제
    </a>
{% endblock content %}

