{# python import와 동일 #}
{% extends "instagram1/layout.html" %}
{% load bootstrap4 %}

{% block title %}
    instagram / Post List
{% endblock title %}

{% block content %}
    <form action="" method="get">
        <input type="text" name="q" value="{{ q }}"/>
        <input type="submit" value="검색" />
    </form>
    <table class="table table-bordeard table-hover">
        <tbody>
             {% for post in post_list %}
             <tr>
                <td>
                 {{ post.pk }}
                </td>
                 <td>
                     {% if post.photo %}
                        <img src="{{ post.photo.url }}" style="width: 100px" />
                     {% else %}
                        No photo
                     {% endif %}
                 </td>
                 <td>
                    {# <a href="{% url 'instagram1:post_detail' post.pk %}"> #}
                    {# {{ post.massage }} #}
                    {# </a> #}
                     <a href="{{ post.get_absolute_url }}">
                         {{ post.massage }}
                     </a>
                 </td>
             </tr>
             {% endfor %}
        </tbody>
    </table>
{#    <p>is_paginated: {{ is_paginated }}</p>#}
{#    <p>page_obj: {{ page_obj }}</p>#}
{#    <p>object_list: {{ object_list }}</p>#}
{#    <p>paginator: {{ paginator }}</p>#}
    {# python Tag 파라미터 넘기는 방법 #}
    {% if is_paginated %}
        {% bootstrap_pagination page_obj size='large' justify_content='center' %}
        {# {% bootstrap_pagination page_obj size='small' %}#}
    {% endif %}
{% endblock content %}
